# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
notingit
bin
gradle/wrapper/gradle-8.2.1-bin.zip
lombok-1.18.28.jar
app/src-delomboked/
all-in-one.java
deploy-fixtures
not-in-git
playground